<div class="container">
  <div class="row">
    <div class="col-10">
      <div class="jumbotron">
        <h1>Angular reactive forms</h1>
        <form name="form" [formGroup]="form" (ngSubmit)="form.valid && submit()">
          <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" formControlName="firstName"
              [ngClass]="{'is-invalid':form.get('firstName').touched && form.get('firstName').invalid}" required />
            <div class="invalid-feedback">
              <div>First Name is required</div>
            </div>
          </div>
          <div class="form-group">
            <label for="lastname">LastName:</label>
            <input type="text" class="form-control" formControlName="lastname"
              [ngClass]="{'is-invalid':form.get('lastname').touched && form.get('lastname').invalid}" required />
            <div class="invalid-feedback">
              <div>
                Last Name is required
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" formControlName="Email"
              [ngClass]="{'is-invalid':form.get('Email').touched && form.get('Email').invalid}" required />
            <div *ngIf="form.get('Email').touched && form.get('Email').invalid" class="invalid-feedback">
              <div *ngIf="form.get('Email').errors.required">
                Email is required
              </div>
              <div *ngIf="form.get('Email').errors.email">
                Enter valid email address
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" formControlName="password"
              [ngClass]="{'is-invalid':form.get('password').touched && form.get('password').invalid}" />
            <div *ngIf="form.get('password').touched && form.get('password').invalid" class="invalid-feedback">
              <div *ngIf="form.get('password').errors.required">Password is required</div>
              <div *ngIf="form.get('password').errors.minlength">Password must be a letaset 6 charector</div>
            </div>

          </div>
          <div class="form-group">
            <input type="radio" class="form-controlName" value="male" formControlName="gender">Male
            <input type="radio" class="form-controlName" value="female" formControlName="gender">FeMale
          </div>
          <div class="form-group">
            <select class="form-control" formControlName="ucountry">
              <option value="India">India</option>
              <option value="USA">USA</option>
              <option value="UK">UK</option>
              <option value="Canada">Canada</option>
            </select>
        </div>
          <div>
            <button class="btn btn-primary" [disabled]="!form.valid">Register</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>